#about
{
    background-color : #e0ebe8;
}

#about .about-container::after
{
    content : "";
    clear   : both;
    display : table;
}

#about .about-image
{
    padding-right : 5%;
}

#about .about-image,
#about .about-text
{
    float : left;
}

#about .about-image
{
    width : 25%;
}

#about .about-text
{
    width : 65%;
}

#about .about-image img
{
    border-radius : 50%;
    display       : block;
    margin        : auto;
    width         : 100%;
}
