@bodyFont:'Lato', sans-serif;
@bodyFontSize:1em;
@defaultFont:'Montserrat';
@backupFont:'Alegreya Sans SC';

@white:#FFFFFF;
@black:#000000;
@lightGray:#C9C9C9;
@gray:#888888;
@darkGray:#3c3c3c;
@jade:#0F6F40;
@darkNavyBlue:#041E4A;
@aquaBlue:#1ABC9C;
@skyBlue:#66AAFF;
@lightBlue:#9ECAED;
@green:#008F0B;
@darkGreen:#003304;
@test:#FFF6EB;

@h1FontSize:3.5em;
@h2FontSize:3em;
@h3FontSize:2em;
@h4FontSize:1em;


// Navigation bar
@navHeight:4.75em;
@navBorder:1px solid @jade;
@navTitlePad:1.6em 2em 0 0;
@navFontSize:1.1em;
@navTitleSpacing:1.5em;
@navUpPos:-0.8em;
@navUpIconPos:0.15em;
@navBorderPad:0.2em 0.4em;

// Home
@homeTitlePad:3em 0 0 0;
@homeSubtitlePad:1em 0 0 0;

// 
@sectionSeparatorSpace:3em;

html, body { width:100%; height:100%; }
html { font-size:100%; }
body { font-family:@bodyFont; font-size:@bodyFontSize; }

h1, h2, h3, h4 {
    text-align:center;
    margin:0;
    padding:0;
    color:@darkGray;
}
h1 {
    font-family:@defaultFont;
    font-size:@h1FontSize;
}
h2 {
    font-family:@backupFont;
    font-size:@h2FontSize;
}
h3 {
    font-family:@backupFont;
    font-size:@h3FontSize;
}
h4 {
    font-family:@backupFont;
    font-size:@h4FontSize;
}

p {
    font-size:16px;
    line-height:30px;
    color:#333333;
}

header {
    height:100vh;
    background-size:100% 100%;
    background-image:url("../img/nightsky2.jpg");
}

.title-focus {
    text-align:center;
    width:50%;
    margin:0 auto 3em auto;
    border-bottom:0.062em solid @darkGray;
    h2 {
        display:inline;
        position:relative;
        bottom:-0.5em;
        padding:0 0.5em;
        background:@test;
    }
}
.text-focus {
    width:50%;
    margin:0 auto;
    padding:2em 0;
    p{ margin:0; }
}

#home {
    width:100%;
    margin:0;
    padding:0;
    .navbar {
        width:100%;
        height:@navHeight;
        margin:0;
        border-bottom:@navBorder;
        border-radius:0;
        background-color:@darkNavyBlue;
        box-shadow:0 0.25em 0.125em @gray;
        a { color:@white; }
        ul {
            overflow:auto;
            width:100%;
            margin:0;
            padding:@navTitlePad;
            text-align:center;
        }
        li {
            display:inline;
            position:relative;
            font-family:@backupFont;
            font-size:@navFontSize;
            padding-left:@navTitleSpacing;
        }
    }
    div {
        text-align:center;
        a {
            font-size:@navFontSize;
            position:relative;
            top:@navUpPos;
            padding:@navBorderPad;
            border-radius:50%;
            color:@white;
            background-color:@darkNavyBlue;
        }
        i {
            bottom:@navUpIconPos;
            position:relative;
        }
    }
    h1 { padding:@homeTitlePad; color:@white; }
    h3 { padding:@homeSubtitlePad; color:@white; }
}

#about,
#projects,
#contact {
    padding:@sectionSeparatorSpace 0;
    background-color:@test;
}

#about {
    img {
        display:block;
        margin:0 auto;
        border-radius:50%;
        width:25%;
    }
}

#projects {
    .text-focus { padding:0; }
    .project-item {
        width:35%;
        margin:0 auto;
        h3 { padding-top:1em; }
        h4 { padding-top:0.5em; }
        p { padding-top:1em; }
    }
}

#contact {
    .contact-form {
        width:50%;
        margin:0 auto;
        h3 { text-align:left; padding:0 0 0.5em 0; }
        .feedback {
            font-family: Helvetica, Arial, sans-serif;
            font-weight:500;
            font-size:1em;
            line-height:1.38em;
            width:100%;
            border:0.062em solid @gray;
            border-radius:0.44em;
            padding:0.81em 0.81em 0.81em 4.5em;
            color:@darkGray;
            background-color:@white;
        }
        .feedback:focus { 
            outline:none;
            border-color:@lightBlue;
            box-shadow:0 0 0.62em @lightBlue;
        }
        textarea {
            width:100%;
            height:15.6em;
            line-height:150%;
            min-height:12.5em;
            resize:vertical;
        }
        .contact-form-field { 
            padding-bottom:0.62em; 
            position:relative; 
            .field-name,
            .field-subject,
            .field-email,
            .field-text {
                position:absolute;
                font-size:1.25em;
                background:transparent;
            }
            .field-name    { top:0.65em; left:1.5em; }
            .field-subject { top:0.65em; left:1.5em; }
            .field-email   { top:0.65em; left:1.5em; }
            .field-text    { top:0.65em; left:1.5em; }
        }
        .submit {
            font-family:@defaultFont;
            font-size:1.13em;
            text-align:center;
        }
        .submit-btn {
            padding:0.62em 1.25em;
            border:none;
            border-radius:0.87em;
            text-decoration:none;
            color:@white;
            background:#3498db;
            background-image: linear-gradient(to bottom, #3498DB, #2980B9);
        }
        .submit-btn:hover {
            text-decoration:none;
            background:#3cb0fd;
            background-image:linear-gradient(to bottom, #3CB0FD, #3498DB);
        }
    }
}



#footer {
    text-align:center;
    padding:20px 0;
    background-color:#333333;
    
    .footer-item {
        margin:0;
        padding:0;
        .footer-btn {
            font-size:1.2em;
            text-align:center;
            vertical-align:middle;
            padding:0.75em 0.77em;
            border-radius:50%;
            border:transparent;
            background-color:transparent;
            color:@gray;
        }
        .footer-btn:hover, 
        .footer-btn.btn-active {
            border:none;
            background-color:@darkGray;
            color:@white;
        }
    }
    footer {
        font-size:0.75em;
        margin:0 auto;
        padding:1.5em 0 0 0;
        color:@white;
    }
}


.skills {
    display:none;
    padding:30px 0;
    background-color:#333333;
    .col-md-3 {
        padding-top:10px;
        padding-bottom:10px;
    }
}
.skills-btn {
    border-radius:5% 5% 0 0;
    border:none;
    background-color:#F55203;
}
.skills-btn:hover,.skills-btn:focus {
    border:none;
    background-color:#ED4E0D;
}
.easyPieChart {
    position: relative;
    canvas {
        top: 0;
        left: 0;
        position: absolute;
    }
}
.chart {
    font-size: 14px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 10px auto;
    padding-left:0.5em;
    padding-top:0.25em;
    color:#FFFFFF;
}
