html, body {
  width: 100%;
  height: 100%;
}
html { font-size: 100%; }
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Roboto Slab', serif;
  text-align:center;
  margin:0;
  padding:0;
  color: #3c3c3c;
  padding:0 0 1em 0;
}
h1 { font-size:4em; }
h2 { font-size:3em; }
h3 { font-size:2em; }
h4 { font-size:1.5em; }
h5 { font-size:1em; }
h6 { font-size:0.85em; }

p {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  margin:0;
  padding:2em 0;
}

.center {
  width:50%;
  margin:0 auto;
  padding:0;
}

header {
  height: 100vh;
  background-size: 100% 100%;
  background-image: url("../img/nightsky.jpg");
}


div.hr {
  height:24px;
  background:#e0ebe8 url("http://jblevins.org/svg/asterism.svg") no-repeat scroll center;
}
div.hr hr {
  display: none;
}

/* .title-focus { */
/*   text-align: center; */
/*   width: 50%; */
/*   margin: 0 auto 3em auto; */
/*   border-bottom: 0.062em solid #3c3c3c; */
/* } */
/* .title-focus h2 { */
/*   display: inline; */
/*   position: relative; */
/*   bottom: -0.5em; */
/*   padding: 0 0.5em; */
/*   background: #fff6eb; */
/* } */

#home {
  width:100%;
  margin:0;
  padding:0;
}
#home .navbar {
  width:100%;
  height:4.75em;
  margin:0;
  border-bottom:1px solid #0f6f40;
  border-radius:0;
  background-color:#041e4a;
  box-shadow:0 0.1em 0.5em #888888;
}
#home .navbar a {
  font-size: 0.9em;
  color: #ffffff;
}
#home .navbar ul {
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 1.6em 2em 0 0;
  text-align: center;
}
#home .navbar li {
  display: inline;
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  padding-left: 1.5em;
}
#home div { text-align: center; }
#home div a {
  font-size: 1.1em;
  position: relative;
  top: -0.8em;
  padding: 0.2em 0.4em;
  border-radius: 50%;
  color: #ffffff;
  background-color: #041e4a;
}
#home div i {
  bottom: 0.15em;
  position: relative;
}
#home h1  { color:#ffffff; padding:25vh 0 0 0; }
#home h3  { color:#ffffff; padding:1em 0 0 0; }

#about,
#experience,
#projects,
#contact {
    padding:7em 0;
    background-color:#e0ebe8;
}

/* ***** Experience ***** */
#about img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 25%;
}

#about img + p {
    padding:2em 0 0 0;
}

/* ***** Experience ***** */
#experience .work-block {
  width: 50%;
  margin: 0 auto;
}
#experience .work-block h4,
#experience .work-block h5,
#experience .work-block h6 {
    padding:0 0 0.5em 0;
}
#experience .work-block ul {
    list-style-type: square;
    padding:0.5em 0 3em 0;
    margin:0;
}
#experience .work-block ul:last-child {
    padding:0.5em 0 0 0;
}
#experience .work-block li {
  padding: 0.5em 0;
}

/* ***** Projects ***** */
#projects h2 + p {
    padding-bottom:2em;
}
#projects h5 + p {
    padding-top:1em;
}
#projects div + div {
    padding-top:3em;
}
#projects .project-item {
  width:35%;
  margin:0 auto;
}
#projects .project-item h4,
#projects .project-item h5 {
    padding:0 0 0.5em 0;
}

/* ***** Contacts ***** */
#contact .contact-form {
  width: 50%;
  margin: 0 auto;
}
#contact .contact-form h3 {
  text-align: left;
  padding: 0 0 0.5em 0;
}
#contact .contact-form .feedback {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.38em;
  width: 100%;
  border: 0.062em solid #888888;
  border-radius: 0.44em;
  padding: 0.81em 0.81em 0.81em 4.5em;
  color: #3c3c3c;
  background-color: #ffffff;
}
#contact .contact-form .feedback:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 0.62em #9ecaed;
}
#contact .contact-form textarea {
  width: 100%;
  height: 15.6em;
  line-height: 150%;
  min-height: 12.5em;
  resize: vertical;
}
#contact .contact-form .contact-form-field {
  padding-bottom: 0.62em;
  position: relative;
}
#contact .contact-form .contact-form-field .field-name,
#contact .contact-form .contact-form-field .field-subject,
#contact .contact-form .contact-form-field .field-email,
#contact .contact-form .contact-form-field .field-text {
  position: absolute;
  font-size: 1.25em;
  background: transparent;
}
#contact .contact-form .contact-form-field .field-name {
  top: 0.65em;
  left: 1.5em;
}
#contact .contact-form .contact-form-field .field-subject {
  top: 0.65em;
  left: 1.5em;
}
#contact .contact-form .contact-form-field .field-email {
  top: 0.65em;
  left: 1.5em;
}
#contact .contact-form .contact-form-field .field-text {
  top: 0.65em;
  left: 1.5em;
}
#contact .contact-form .submit {
  font-family: 'Montserrat';
  font-size: 1.13em;
  text-align: center;
}
#contact .contact-form .submit-btn {
  padding: 0.62em 1.25em;
  border: none;
  border-radius: 0.87em;
  text-decoration: none;
  color: #ffffff;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
#contact .contact-form .submit-btn:hover {
  text-decoration: none;
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333333;
}
#footer .footer-item {
  margin: 0;
  padding: 0;
}
#footer .footer-item .footer-btn {
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  padding: 0.75em 0.77em;
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: #888888;
}
#footer .footer-item .footer-btn:hover,
#footer .footer-item .footer-btn.btn-active {
  border: none;
  background-color: #3c3c3c;
  color: #ffffff;
}
#footer footer {
  font-size: 0.75em;
  margin: 0 auto;
  padding: 1.5em 0 0 0;
  color: #ffffff;
}
.skills {
  display: none;
  padding: 30px 0;
  background-color: #333333;
}
.skills .col-md-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.skills-btn {
  border-radius: 5% 5% 0 0;
  border: none;
  background-color: #F55203;
}
.skills-btn:hover,
.skills-btn:focus {
  border: none;
  background-color: #ED4E0D;
}
.easyPieChart {
  position: relative;
}
.easyPieChart canvas {
  top: 0;
  left: 0;
  position: absolute;
}
.chart {
  font-size: 14px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 10px auto;
  padding-left: 0.5em;
  padding-top: 0.25em;
  color: #FFFFFF;
}
