html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #3c3c3c;
}
h1 {
  font-family: 'Montserrat';
  font-size: 3.5em;
}
h2 {
  font-family: 'Alegreya Sans SC';
  font-size: 3em;
}
h3 {
  font-family: 'Alegreya Sans SC';
  font-size: 2em;
}
h4 {
  font-family: 'Alegreya Sans SC';
  font-size: 1em;
}
p {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}
.btn,
.btn:hover,
.btn:focus {
  font-family: 'Montserrat';
  border-bottom: 0.25em solid #ffffff;
  color: #ffffff;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
header {
  height: 100vh;
  background-size: 100% 100%;
  background-image: url("../img/nightsky2.jpg");
}
.navbar {
  width: 100%;
  height: 4.75em;
  margin: 0;
  border-bottom: 1px solid #0f6f40;
  border-radius: 0;
  background-color: #041e4a;
  box-shadow: 0 0.25em 0.125em #888888;
}
.navbar .container {
  width: 100%;
  height: 100%;
}
.navbar a {
  color: #ffffff;
}
.navbar ul {
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 1.6em 2em 0 0;
  text-align: center;
}
.navbar li {
  display: inline;
  position: relative;
  font-family: 'Alegreya Sans SC';
  font-size: 1.1em;
  padding-left: 1.5em;
}
.title-focus {
  text-align: center;
  width: 50%;
  margin: 0 auto 3em auto;
  border-bottom: 1px solid #3c3c3c;
}
.title-focus h2 {
  display: inline;
  position: relative;
  bottom: -0.5em;
  padding: 0 0.5em;
  background: #fff6eb;
}
.text-focus {
  width: 50%;
  margin: 0 auto;
  padding: 2em 0;
}
.text-focus p {
  margin: 0;
}
.home {
  width: 100%;
  margin: 0;
  padding: 0;
}
.home a {
  font-size: 1.1em;
  position: relative;
  top: -0.8em;
  padding: 0.2em 0.4em;
  border-radius: 50%;
  color: #ffffff;
  background-color: #041e4a;
}
.home i {
  bottom: 0.15em;
  position: relative;
}
.home h1 {
  padding: 3em 0 0 0;
  color: #ffffff;
}
.home h3 {
  padding: 1em 0 0 0;
  color: #ffffff;
}
.about {
  padding-top: 5em;
  background-color: #fff6eb;
}
.about .title-focus {
  width: 48%;
}
.about img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 50vh;
}
.projects {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #fff6eb;
}
.projects .title-focus {
  width: 35%;
}
.projects .text-focus {
  padding: 0;
}
.projects .project-item {
  width: 35%;
  margin: 0 auto;
}
.projects .project-item h3 {
  padding-top: 1em;
}
.projects .project-item h4 {
  padding-top: 0.5em;
}
.projects .project-item p {
  padding-top: 1em;
}
.contact {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #fff6eb;
}
.contact .title-focus {
  width: 40%;
}
.contact .contact-form {
  width: 50%;
  margin: 0 auto;
}
.contact .contact-form h3 {
  text-align: left;
  padding: 0 0 0.5em 0;
}
.contact .contact-form .feedback {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.38em;
  width: 100%;
  border: 0.13em solid transparent;
  border-radius: 0.44em;
  padding: 0.81em 0.81em 0.81em 3.34em;
  color: #3c3c3c;
  background-color: #ffffff;
}
.contact .contact-form .feedback:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 0.62em #9ecaed;
}
.contact .contact-form textarea {
  width: 100%;
  height: 15.6em;
  line-height: 150%;
  min-height: 12.5em;
  resize: vertical;
}
.contact .contact-form input:hover,
.contact .contact-form textarea:hover,
.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
  background-color: #ffffff;
}
.contact .contact-form .form-field {
  padding-bottom: 0.62em;
  position: relative;
}
.contact .contact-form .field-img-name,
.contact .contact-form .field-img-email,
.contact .contact-form .field-img-text {
  position: absolute;
  font-size: 1.38em;
  background: transparent;
}
.contact .contact-form .field-img-name {
  top: 11px;
  left: 22px;
}
.contact .contact-form .field-img-email {
  top: 11px;
  left: 18px;
}
.contact .contact-form .field-img-text {
  top: 11px;
  left: 18px;
}
.contact .contact-form .submit {
  font-family: 'Montserrat';
  font-size: 1.13em;
}
.contact .contact-form .submit-btn {
  padding: 0.62em 1.25em;
  border: none;
  border-radius: 0.87em;
  text-decoration: none;
  color: #ffffff;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
.contact .contact-form .submit-btn:hover {
  text-decoration: none;
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
.footer {
  padding: 20px 0;
  background-color: #333333;
}
.footer-txt {
  padding: 10px 0;
  color: #ffffff;
}
.btn-footer {
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: #c9c9c9;
}
.btn-footer:hover,
.btn-footer.btn-active {
  border: none;
  background-color: #FF8110;
  color: #ffffff;
}
.skills {
  display: none;
  padding: 30px 0;
  background-color: #333333;
}
.skills .col-md-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.skills-btn {
  border-radius: 5% 5% 0 0;
  border: none;
  background-color: #F55203;
}
.skills-btn:hover,
.skills-btn:focus {
  border: none;
  background-color: #ED4E0D;
}
.easyPieChart {
  position: relative;
}
.easyPieChart canvas {
  top: 0;
  left: 0;
  position: absolute;
}
.chart {
  font-size: 14px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 10px auto;
  padding-left: 0.5em;
  padding-top: 0.25em;
  color: #FFFFFF;
}
