/* -------------------------------------------------------------------------- */
/* Main Project tag */
/* -------------------------------------------------------------------------- */
#projects
{
    background-color : #e0ebe8;
}

#projects h4
{
    margin-bottom : 0.25em;
}

#projects h5
{
    margin : 0;
}

#projects p
{
    margin-top : 0.75em;
}

#projects a:link,
#projects a:visited
{
    color : #000099;
    cursor : auto;
    text-decoration : none;
}

#projects a:hover
{
    cursor : pointer;
    text-decoration : underline;
}

#projects a:link:active,
#projects a:visited:active
{
    color: purple;
}

/* -------------------------------------------------------------------------- */
/* Project blocks */
/* -------------------------------------------------------------------------- */

#projects .project-container::after
{
    content : "";
    clear   : both;
    display : table;
}

#projects .project-block
{
    padding-right : 5%;
}

#projects .project-block:last-child
{
    padding-right : 0%;
}

#projects .project-block
{
    float : left;
    width : 30%;
}

#projects .project-example
{
    display : none;
}
