#footer p
{
    font-size : 0.65em;
    /* margin    : 0; */
}

#footer ul
{
    display         : inline-block;
    list-style-type : none;
    /* margin          : 0; */
    padding         : 0;

    /* For IE, the outcast */
    zoom            : 1;
    *display        : inline;
}

#footer li
{
    float   : left;
    padding : 0 0.75em;
    line-height : 0;
}

#footer a
{
    border-radius : 50%;
    display       : block;
    font-size     : 1.25em;
    padding       : 0.4em;
}
